<h3>Pedido: <%= @order.id %> </h1>
<h5>Empresa: <%= @order.company_name %> - <%= @order.company_document %> </h3>


<table class="table">

  <thead>
    <tr>      
      <th scope="col">Codigo</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Preço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>  
<% @order.products.each do |product| %> 
    <%= form_for(product, method: :patch, url: product_path(product), :remote => true) do |f| %>
      <tr> 
       <td>       
            <%= f.text_field :code, class: 'form-control' %>
        </td>
        
        <td>       
            <%= f.text_field :quantity, class: 'form-control' %>
        </td>
        <td>       
            <%= f.text_field :price, class: 'form-control' %>            
        </td>
        <td>
            <%= f.submit 'Enviar', class: "btn btn-default" %>
        </td> 
        
        </tr>
    <% end %>


<% end %>    
    </tbody>
</table>